@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  font-display: swap;
  src: url("../fonts/SourceSansPro-Italic.woff") format("woff"), url("../fonts/SourceSansPro-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  font-display: swap;
  src: url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  font-display: swap;
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  font-display: swap;
  src: url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  font-display: swap;
  src: url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SourceSansPro";
}

html {
  scroll-behavior: smooth;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.block_head {
  color: #fff;
  background-blend-mode: multiply;
  background-image: url("../img/header_bg.png");
  background-color: rgba(21, 20, 26, .9);  
  background-size: cover;
  padding: 41px 0 0;
}

.header {
  margin-bottom: 103px;
}

.logo {
  font-family: "Quicksand";
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_item {
  margin-right: 20px;
  font-size: 16px;
  position: relative;
}

.menu_item a:hover::after,
.menu_item a:hover::before {
  content: "";
  position: absolute;
  width: 47%;
  height: 2px;
  background-color: #008ed6;
  bottom: -9px;
}
.menu_item a:hover::before{
  left: 0;
}
.menu_item a:hover::after{
  right: 0;
}

.menu_item.active:before,
.menu_item.active:after {
  content: "";
  position: absolute;
  width: 47%;
  height: 2px;
  background-color: #008ed6;
  bottom: -9px;
}

.menu_item:before {
  left: 0;
}

.menu_item:after {
  right: 0;
}

.topic {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  display: inline-block;
}

.text {
  color: #999999;
}

.white {
  color: #fff;
}

.block_text {
  text-align: center;
  margin-bottom: 80px;
}

.underlined_center {
  position: relative;
}

.underlined_center::before,
.underlined_center::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #008ed6;
  bottom: -35px;
}

.underlined_center:before {
  left: 41%;
}

.underlined_center:after {
  right: 41%;
}

.underlined_left {
  position: relative;
  margin-bottom: 70px;
}

.underlined_left::before,
.underlined_left::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #008ed6;
  bottom: -25px;
}

.underlined_left:before {
  left: 0;
}

.underlined_left:after {
  right: 88%;
}

.head_text {
  margin-bottom: 63px;
}

.head_text .title {
  font-size: 48px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 20px;
}

.head_text .text {
  opacity: 1;
}

.block_buttons .block_button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 20px 31px 19px;
  margin-right: 20px;
}

.head_phone {
  background-image: url("../img/devices.png");
  width: 500px;
  height: 500px;
  border-radius: 30px;
}

.features_block {
  padding: 65px 0 76px;
}

.features_block_text {
  text-align: center;
  margin-bottom: 115px;
}

.features_block_text .underlined_center:before {
  left: 44%;
}

.features_block_text .underlined_center:after {
  right: 44%;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.feature_title {
  color: #1a1a1a;
  font-size: 24px;
  margin-bottom: 20px;
}

.feature_text {
  font-size: 14px;
  text-align: center;
  width: 229px;
}

.feature_img_block {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  margin-bottom: 35px;
  height: 88px;
  width: 88px;
  border-radius: 50%; 
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}


.device_info {
  padding: 65px 0px 20px;
}

.device_text {
  margin-bottom: 25px;
  opacity: 1;
}

.device_feature__item {
  color: #1b1b1b;
}

.device_feature__item_img {
  margin-right: 10px;
}

.dip_info {
  background-color: #f2f2f2;
  padding: 33px 0px 19px;
}

.reviews {
  background-image: url("../img/Warstwa_8.png");
  background-size: cover;
  background-color: rgba(21, 20, 26, .8);
  padding: 64px 0px 60px;
  background-blend-mode: multiply;
}

.reviews .block_text {
  text-align: center;
  margin-bottom: 124px;
}

.reviews .slider_item {
  padding-left: 25px;
  margin-bottom: 140px;
  width: 90%;
}

.reviews .slider_item .review {
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 26px;
}

.reviews .slider_item .author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .slider_item .author_img {
  float: left;
  margin-right: 24px;
}

.reviews .slider_item .author_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews .slider_item .author_position {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.uk-dotnav li a:hover {
  background-color: #fff;
}

.uk-active a {
  background-color: #fff !important;
}

.like_block {
  background-color: #000000;
  padding: 69px 0px 66px;
}

.like_block .like_block_text {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}

.like_block .like_block_text span {
  font-weight: 600;
}

.price {
  padding: 60px 0px 61px;
}

.price .price_item {
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: center;
  max-width: 270px;
}

.price .price_item__title {
  padding: 29px 79px 24px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.price .price_item__info {
  border: 1px solid #e0e0e0;
  border-left: none;
  border-right: none;
  padding: 43px 93px 35px 92px;
  font-size: 60px;
  font-weight: 600;
  line-height: 28px;
}

.price .price_item__info sup {
  font-size: 32px;
}

.price .price_item__info span {
  font-size: 16px;
}

.price .price_item__text {
  margin: 0 auto;
  padding: 52px 33px 44px 41px;
}

.price .price_item__text span {
  color: #008ed6;
}

.price_item__text span:hover{
  cursor: pointer;
}

.price .price_item__link {
  border: 1px solid #e0e0e0;
  color: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 42px 19px 41px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 29px;
  font-weight: 700;
}

.price .price_item.popular .price_item__title {
  color: #008ed6;
}

.price .price_item.popular .price_item__info {
  color: #fff;
  background-color: #008ed6;
}

.price .price_item.popular .price_item__info span {
  color: #fff;
}

.price .price_item.popular .price_item__text {
  margin: 0 auto;
  padding: 52px 33px 44px 41px;
}

.price .price_item.popular .price_item__link {
  color: #fff;
  border: 1px solid #008ed6;
  background-color: #008ed6;
}

.contact {
  background-color: #ededed;
  padding-top: 60px;
}

.contact .underlined_center:before {
  left: 36%;
}

.contact .underlined_center:after {
  right: 36%;
}

.contact .contact_item {
  text-align: center;
  margin-bottom: 30px;
}

.contact .contact_item_icon_block {
  margin-bottom: 32px;
}

.contact .contact_items {
  margin-bottom: 73px;
}

.contact .contact_form {
  background-color: #15141a;
  padding: 59px 85px 40px 66px;
  z-index: 1;
  margin-bottom: -50px;
}

.contact .contact_form .contact_input {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 20px 0 20px 18px;
  color: #fff;
}

.contact .contact_form .contact_textarea {
  width: 300px;
  height: 190px;
  resize: none;
}

.contact .contact_form .contact_button {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #008ed6;
  border-radius: 3px;
  padding: 20px 33px 19px;
  color: #fff;
  font-size: 14px;  

}

.contact .contact_form .margin_right_none {
  margin: 0;
  margin-right: 9%;
}

.footer {
  background-color: #15141a;
  padding: 57px 0px 45px;
}

.footer_copyright {
  text-transform: uppercase;
  text-align: center;
}
.icon_container{
  text-align: center;
  margin-bottom: 20px;
}
.footer_icon {
  color: #999999;
}
.footer_icon:hover{
  color: #008ed6;
  cursor: pointer;
}

.footer .icons {
  margin-bottom: 33px;
}

.mr{
  margin-left: 3px;
  margin-right: 15px;
}

@media(max-width: 1200px){
  .contact_form_container{
    width: 100%;
  }
}

@media(max-width: 992px){
  .logo{
    margin-bottom: 30px;
  }
  .contact_form_container{
    left: 20% !important;
  }
  .contact_form{
    padding: 30px !important;

  }
}

@media(max-width: 767px){
  .footer_icon{
    font-size: 32px;
  }
  .slider_item{
    width: 70%;
  }
  .block_buttons{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
  }
}

@media(max-width: 575px){
  .head_phone{
    display: none;
  }
  .center, .logo{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
    justify-content: center !important;
    -ms-align-items: center;
    align-items: center;
  }
  .menu_list{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
  }
  .menu_item{
    margin-bottom: 20px;
  }
  .contact_form{
    width: 350px !important;
  }
}